.footer {
  margin-top: 67px;
  margin-bottom: 60px;
  /*min-height: 100vh;*/
}

.footer__copyright {
  color: rgba(84, 84, 84);
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  font-family: "Inter", Arial, sans-serif;
  margin: 0;
  /*position: sticky;
  top: 100%;*/
}
@media screen and (max-width: 465px) {
  .footer {
    width: calc(100% - 38px);
    margin-top: 48px;
    margin-bottom: 36px;
  }
  .footer__copyright {
    font-size: 14px;
    line-height: 17px;
  }
}
