.header {
  margin-top: 45px;
  max-width: 880px;
  border-bottom: 1px rgba(84, 84, 84, 0.7) solid;
}
.header__image {
  margin-bottom: 40px;
  width: 173px;
  height: 33px;
}
@media screen and (max-width: 710px) {
  .header__image {
    margin-bottom: 32px;
    width: 145px;
    height: 28px;
  }
}

@media screen and (max-width: 465px) {
  .header__image {
    width: 126px;
    height: 24px;
  }
}
